body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 18px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
}

.outer-container {
    margin: auto;
    display: inline-flex;
    justify-content: center;
    border: 5px solid #ccc;
    border-radius: 3px;
}

.container {
    margin: auto;
    display: flex;
    padding: 2%;
    background-color: #aaa;
    font-size: 1.2rem;
}

.container#drumpad-board {
    flex-direction: row;
    width: 33vw;
    flex-wrap: wrap;
    border: 1px solid #999;
}

.container#control-board {
    width: 20vw;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #999;
}

.container#control-board>* {
    border: 1px solid #ccc;
    width: 100%;
}

.control-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vw;
}

.control-label {
    font-weight: bold;
    text-align: center;
    user-select: none;
    margin: 5px;
}

.display-container {
    height: 9vw;
}

.display-active {
    background-color: rgb(255 163 49 / 70%);
}

.display-inactive {
    background-color: #666;
}

.display-text {
    font-weight: bold;
    text-align: center;
    user-select: none;
    margin: auto;
    color: #222;
}

.drum-pad {
    flex: 1 auto 33%;
    min-height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    border-radius: 1px;
    background-color: #ddd;
    user-select: none;
}

.drum-pad:active {
    background-color: #ffa331fa;
    border-radius: 2px;
}

.switch {
    width: 50px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 3px;
}

.switch:hover {
    cursor: pointer;
}

.switch-pointer {
    height: 100%;
    width: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #888;
    border-radius: 3px;
}

.switch-pointer-on {
    float: right;
    background-color: #ffa331fa;
}

.switch-pointer-off {
    float: left;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 3px;
    height: 6px;
    outline: none;
    max-width: 60%;
}

input[type=range]:hover {
    background-color: #d5d5d5;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #ffa331fa;
}

@media (hover: hover) and (pointer: fine) {
    .drum-pad:hover {
        background-color: #eee;
    }
}